html {
  width: 100%;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("https://sf.co.ua/12/09/wallpaper-363914.jpg");
  color: white;
}
.wrapper {
  padding-bottom: 100px;
}

.title {
  text-align: center;
  background-color: lightgrey;
  opacity: 40%;
  color: black;
  font-size: 50px;
  padding-top: 10px;
}
.nav {
  background-color: lightgrey;
  opacity: 40%;
}
.nav-item {
  border-radius: 2em;
  margin: 15px;
}
#me {
  height: 200px;
  border-radius: 5em;
  justify-content: center;
}
.main {
  text-align: center;
  margin-top: 30px;
  justify-content: center;
}

.about {
  margin-top: 20px;
}

.secondary {
  width: 80%;

  flex-direction: column;
}
.portfolio-image {
  border-radius: 1em;

  align-content: center;
}
.description {
  text-align: center;
  margin-top: 10px;
}
hr {
  margin-top: 0;
}
.icon {
  float: left;
  height: 30px;
  margin-right: 10px;
  margin-top: 10px;
}
.link {
  position: relative;
  margin-top: 10px;
}
.link-name {
  margin-top: 10px;
}
#linkedin {
  height: 30px;
  margin-right: 15px;
}
footer {
  background: rgba(255, 255, 255, 1);
  opacity: 40%;
  width: 100%;
  height: 65px;
  bottom: 0;
  position: fixed;
  border-top: 8px solid darkgrey;
  text-align: center;
  padding: 15px 0;
  clear: both;
}
